.app {
  // background-color: burlywood;
  background-color: #c7d6e6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.filters {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 20px 10%;
}

.main {
  padding: 30px 10% 50px;
  overflow-x: auto;
}

footer {
  margin-top: auto;
  padding-left: 30px;
  padding-bottom: 20px;
  color: white;
  padding-top: 30px;
  min-height: 50px;
  background-color: #31b125;

  a {
    margin-top: 10px;
    display: block;
  }
}

.info {
  justify-content: center;
  gap: 20px;
  display: flex;
  margin-bottom: 30px;
}
